{% extends 'base.html.twig' %}


{% block carroussel %} {% endblock %}


{% block body %}

		
		{# {{dump(panier)}} #}
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Image</th>
					<th scope="col">nom</th>
					<th scope="col">Quantité</th>
					<th scope="col">Prix</th>
				</tr>
			</thead>
			<tbody>
				{% if panier | length == 0 %}
					<h5 class="text-center">Panier Vide</h5>
					{% else %}
{% for item in panier %}
    
				<tr>
                    <td><img src="{{asset('/telecharger/')~ item.produit.picture}}" alt=""  width='80'/></td>
					<th scope="row">{{item.produit.name}}</th>
					<td>{{item.quantite}}</td>
                    <td>{{item.produit.priceTtc * item.quantite}}€</td>
				</tr>
                {% endfor %}
                {% endif %}
			</tbody>
            <tfoot>
            <tr>
            <td class="text-right" colspan='3'>Total dont tva 20% incluse</td>
            <td>{{Montant}}€</td>
            </tr>
            </tfoot>
		</table>


	</div>
{% endblock %}
