{% extends 'base.html.twig' %}

{% block title %}Hello

{% endblock %}
{% block carroussel %}{% endblock %}

{% block body %}

	<div class="col-lg-9">
		<div class="card mt-4">
			<img class="card-img-top img-fluid" src="{{asset('/telecharger/') ~ product.picture}}" alt="foulard gris argenté bambou">
			<div class="card-body">
				<h3 class="card-title">{{product.name}}</h3>
				<h4>{{product.priceTtc}}€</h4>
				<p class="card-text">{{product.description}}</p>
				<div class="container d-flex justify-content-between">
					<span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span> 

        <!-- Your share button code -->
          <div class="fb-share-button" 
            data-href="https://www.your-domain.com/your-page.html" 
            data-layout="icon_link">
          </div>
					<a href="{{path('cart_Add',{'id': product.id})}}" class="btn btn-outline-success">Ajouter au panier</a>
				</div>
			</div>
		</div>
		<!-- /.card -->

		<div class="card card-outline-secondary my-4">
			<div class="card-header">
				Commentaires
			</div>
			<div class="card-body">
			{% for comment in comments  %}
				
			{# {{dump(comment)}} #}
				<p>{{comment.comment}}</p>
				<small class="text-muted">Posté par {{comment.users.firstname}} {{comment.users.lastname}}. le {{comment.date|date('d/m/Y')}}</small>
				<hr>
				{% endfor %}
				{% if app.user %}
				<a href="{{path('add_comments', {'id': product.id})}}" class="btn btn-dark">Laisser un commentaire</a>
				{% else %}
					<a class="btn btn-dark" href="{{path('security_login')}}">Connectez vous pour poster un message</a>	
				{% endif %}
				
			</div>
		</div>
		<!-- /.card -->
		<div class="alert cvgProduit" role="alert">
			<a href="">Condition de vente</a>
		</div>
	</div>
	<!-- /.col-lg-9 -->

</div>
</div>{% endblock %}