<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link rel="stylesheet" href="{{asset("css/style.css")}}"> {% block stylesheets %}{% endblock %}
		</head>
		<body>
			<!-- Navigation -->
			<header>
			<div class="container">
			<div class="bg-dark d-flex justify-content-around">
					<nav class="navbar navbar-expand-lg navbar-dark mb-5 bg-dark fixed-top">

							<a class="navbar-brand reduc" href="">
							<img class="mainImage" src="{{asset("image/Sh-pm1.png")}}" alt="Logo">
							</a>

							<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button>
							<div class="collapse navbar-collapse" id="navbarResponsive">
								<ul class="navbar-nav ml-auto">
									<li class="nav-item active">
										<a class="nav-link" href="/">Accueil
											<span class="sr-only">(current)</span>
										</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="/products">Produits</a>
									</li>
									{% if app.user %}
										<li class="nav-item">
											<a class="nav-link" href="{{path('logout')}}">Se deconnecter</a>
										</li>
									{% else %}
										<li class="nav-item">
											<a class="nav-link" href="/inscription">
												Mon compte</a>
										</li>
									{% endif %}
									<li class="nav-item">
										<a class="nav-link" href="../contactPage/index.php">Contact</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="/cart">Mon panier</a>
									</li>
								</ul>
							</div>
					</nav>
					</div>
				</header>
				<div class="container pagectt2 text-white text-center">
								<div class= "container">
						{% if app.user %}
						<p>{{app.user.username}}
						</p>
							{% if is_granted('ROLE_ADMIN')%}
								<a href="/admin">Adminitration</a>

							{% endif %}

						{% endif %}
					</div>
					<h1>Scarves Home</h1>
					<p>L'élégance vous rend forte.</p>
				</div>
				<div
					class="containerpagectt">
					<!-- -----------------------------Nav------------------------------------------ -->
					<ul class="nav justify-content-end mb-3">
						<li class="nav-item">
							<a class="nav-link active" href="/categories/1">Collection Automne & Hiver</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/categories/2">Collection Printemps & Été</a>

						</li>
					</ul>
					{% block carroussel %}
						<!-- ------------------------------------------------------ -->
						<!-- CAROUSEL -->
						<!-- ------------------------------------------------------ -->
							<div id="carouselExampleIndicators" class="carousel slide demoObject" data-ride="carousel"> <ol class="carousel-indicators">
								<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
								<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
								<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
							</ol>
							<div class="carousel-inner">
								<div class="carousel-item active">
									<img src="{{asset("image/photoCarr1.jpg")}}" class="d-block " alt=" foulard rouge en satin">
								</div>
								<div class="carousel-item">
									<img src="{{asset("image/photoCarr2.jpg")}}" class="d-block" alt="foulard beige en bambou">
								</div>
								<div class="carousel-item">
									<img src="{{asset("image/photoCarr3.jpg")}}" class="d-block" alt="foulard violet à fleur ">
								</div>
							</div>
							<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
								<span class="carousel-control-prev-icon" aria-hidden="true"></span>
								<span class="sr-only">Previous</span>
							</a>
							<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
								<span class="carousel-control-next-icon" aria-hidden="true"></span>
								<span class="sr-only">Next</span>

							</a>
						</div>
					</div>
				{% endblock %}
				{% block body %}{% endblock %}
				<footer class="py-5 bg-dark">
					<div id="myBtn"></div>
					<div class="container">
						<p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
						<div>
							<a href="https://www.facebook.com/scarves.home.5" target="_blank"><img class="imgLOGOfooter" src="{{asset("image/logo/iconsFacebook.png")}}" alt="logo facebook"></a>
							<a href="https://www.instagram.com/aminaboudjemline/?hl=fr" target="_blank"><img class="imgLOGOfooter" src="{{asset("image/logo/iconsIntagram.png")}}" alt="logo instagram"></a>
							<a href="https://twitter.com/amina_boudj" target="_blank">
								<img class="imgLOGOfooter" src="{{asset("image/logo/iconsTwitter.png")}}" alt="logo twitter"></a>
						</div>
					</div>
					<!-- /.container -->
				</footer>
				<script src='../public/js/index.js'></script>
				<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
				<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
				<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
				{% block javascripts %}{% endblock %}
			</body>
		</body>
	</html>
